body,html{
	padding: 0;
	margin: 0;
}
body{
	overflow: hidden;
}

#canvas_container{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin:0;
	canvas{
	  position: relative;
	  padding: 0;
	  margin:0;
	}
}
#nav {
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
  height: 100vh;
  position: absolute;
  padding: 0px;
  top: 0;
  left: 0;
  z-index: 10;
  transition: all 0.2s ease-in-out;
  >div{
    position: relative;
    padding: 0px;
  }
  &.visible{
    left: 0;
  }

}
#nav_right {
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
  height: 100vh;
  position: absolute;
  padding: 0px;
  top: 0;
  right: 0;
  z-index: 10;
  transition: all 0.2s ease-in-out;
  >div{
    position: relative;
    padding: 0px;
  }
  &.visible{
    right: 0;
  }

}
.btn-close{
	position: absolute;
  top: 5px;
  right: 5px;
}
.btn-close-right{
  position: absolute;
  top: 5px;
  left: 5px;
}
.btn-open-close{
	position: absolute;
  top: 10px;
  left: 1px;
  z-index: 9;
}
.btn-open-close-right{
  position: absolute;
  top: 10px;
  right: 1px;
  z-index: 9;
}
#cursor_pointer{
	position: absolute;
	width:5px;
	height: 5px;
	background: red;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 10;
}
.td-actions{
	min-width:130px;
	>button{
		margin-left: 2px;
		margin-right: 2px;
		position: relative;
		display: inline-block;
	}
}
.td-name{
	position: relative;
	width: 100%;
}
.card-container{
	position: relative;
	width:100%;
	overflow-x: scroll;
}
.fb-login{
	display: inline-block;
}
.scrolling_vertical{
  overflow-y:scroll;
}
#how_to_use{
  li{
    list-style: none;
    margin-top: 5px;
  }
}
.ads{
  margin-top: 10px;
}
.use_item{
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  color: #17a2b8;
  font-style: italic;
}