<template>
	<div>
  	<b-button class="btn-open-close" variant="light" @click='show_menu=!show_menu'>
  		<font-awesome-icon icon="ellipsis-v"></font-awesome-icon>
  	</b-button>
  	<b-button class="btn-open-close-right" variant="light" @click='show_menu_right=!show_menu_right'>
  		<font-awesome-icon icon="ellipsis-v"></font-awesome-icon>
  	</b-button>
		<div id="cursor_pointer"></div>
    <div id="nav" :class="{visible:show_menu,scrolling_vertical:nav_scrolling_vertical}">
      <div>
        <b-card no-body>
			    <b-tabs card v-model="tabIndex" >
	        	<b-button class="btn-close" variant="light" @click='show_menu=!show_menu'>
	        		<font-awesome-icon icon="times"></font-awesome-icon>
	        	</b-button>
			      <b-tab  active>
			      	<template slot="title">
			      		<font-awesome-icon icon="palette"></font-awesome-icon>
			      	</template>
			        <b-card-text>
			        	<b-form-radio-group v-model="color_for.selected" :options="color_for.options">
						    </b-form-radio-group><br />
			        	<sketch-picker v-model="colors" :disableAlpha="true"/>
			        </b-card-text>
			      </b-tab>
			      <b-tab :title="$t('project')+'s'">
			        <b-card-text style="overflow-x:scroll;">
			        	<shared-projects></shared-projects>		        	
			        </b-card-text>
			      </b-tab>
			      <b-tab :title="$t('how_to_use')" active>
			        <b-card-text>
			        	<how-to-use></how-to-use>
			        </b-card-text>
			      </b-tab>
			   	</b-tabs>
			  </b-card>
      </div>
    </div>
    <div id="nav_right" :class="{visible:show_menu_right,scrolling_vertical:nav_right_scrolling_vertical}">
      <div>
        <b-card :header="$t('advertisement')" class="text-center">
      		<b-button class="btn-close-right" variant="light" @click='show_menu_right=!show_menu_right'>
        		<font-awesome-icon icon="times"></font-awesome-icon>
        	</b-button>
        	<b-card-text>
        		<div class="ads">
						  <InFeedAdsense v-if="!dev_mode" 
							    data-ad-layout-key="--6t+ed+2i-1n-4w"
							    data-ad-client="ca-pub-6209186190244737"
							    data-ad-slot="7034000496">
							</InFeedAdsense>
        		</div>
        	</b-card-text>
      	</b-card>
      </div>
    </div>
		<div id="canvas_container"></div>
	</div>
</template>

<script>

import Vue from 'vue'
import {init} from "@/assets/js/main.js";
import PointLockControl from "@/assets/js/pointLockControl.js";
import { Sketch } from 'vue-color'
Vue.component('sketch-picker',Sketch);

const jQuery = require('jquery');

import axios from 'axios' 
import VueAxios from 'vue-axios' 

Vue.use(VueAxios, axios)

const server_api = process.env.VUE_APP_SERVER_API;

const dev_mode = process.env.NODE_ENV === 'development';

const Swal = require('sweetalert2')

import HowToUse from '@/components/HowToUse'
Vue.component('how-to-use',HowToUse)

import SharedProjects from '@/components/SharedProjects'
Vue.component('shared-projects',SharedProjects)

export default {
	data(){
		return {
			dev_mode:dev_mode,
			app:null,
			token:'',
			share_mode:true,
			show_menu:true,
			show_menu_right:true,
			colors:{r: 255, g: 0, b: 0},
			nav_scrolling_vertical:false,
			nav_right_scrolling_vertical:false,
			window_resize:false,
			tabIndex:1,
			count_ads_show:0,
			msg:'',
			color_for:{
				selected:'v',
	      options: [
	        { text: 'Voxel', value: 'v' },
	        { text: 'Background', value: 'b' },
	      ],
			},
		};
	},
	mounted(){
		if(dev_mode)console.log(" >>>>>>>>>> SharedProject mounted");
		if(typeof window.req_anim =='number')window.cancelAnimationFrame(window.req_anim); 
    let _this = this;
    jQuery(window).keyup(function(evt){
      if(evt.key=="Escape"){
        _this.show_menu = !_this.show_menu;
      }
    });
    setInterval(function(){
    	if(_this.window_resize){
	    	_this.onWindowResize();
    	}
    	if(_this.count_ads_show<50){
    		_this.count_ads_show++;
    	}else{
    		_this.count_ads_show = 100;
    		if(!_this.show_menu_right)_this.show_menu_right = true;
    	}
    },600);
    jQuery(window).resize(function(evt){
    	_this.window_resize = true;
    });
    _this.onWindowResize();
		let capp = init(_this);
		PointLockControl.getInstance(capp);
		capp.selected_color = this.colors.hex ? this.colors.hex : "#ffffff";
		this.app = capp;
		this.update_scene();
	},
	methods:{
		onWindowResize(){
			let v1 = jQuery("#nav>div").height();
    	let v2 = window.innerHeight;
    	let v3 = jQuery("#nav_right>div").height();
    	let v4 = window.innerHeight;
    	let scrolling1 = v1>=v2;
    	let scrolling2 = v3>=v4;

    	this.nav_scrolling_vertical = scrolling1;
    	this.nav_right_scrolling_vertical = scrolling2;
    	this.window_resize = false;
		},
		setAxiosToken(){
			this.axios.defaults.headers.common['X-ACCESS-TOKEN'] = this.token;
		},
		update_scene(){
			let _this = this;
			_this.axios({
				url:`${server_api}/projects/share/${_this.$route.params.hash_id}?v=2`,
				method:'GET',
				data:{},
				headers:{ 
						'Content-Type':'application/json',
				}, 
			}).then(
				function(response){
					if(dev_mode)console.log(response); 
					let json = {};
					try{
						json = jQuery.parseJSON(response.data.data);
						_this.app.setBackground('b',response.data.background_color);
					}catch(e){
						if(dev_mode)console.log(e.stack);
						json = {};
					}
					_this.app.putObjects(json);
			}).catch(
				function(err){
					if(dev_mode){
						console.log(err);
						console.log(err.response);
						console.log(err.status);
					}
			});  
		},

		
	},
	watch:{
		'token':function(new_val,old_val){
    	this.setAxiosToken();
		},
		'colors':function(new_val,old_val){
			this.app.selected_color = new_val.hex;
    	if(this.color_for.selected == 'b')this.app.setBackground(this.color_for.selected,new_val.hex ? new_val.hex : '#000000');
		},
		'show_menu_right':function(new_val,old_val){
    	if(new_val){
    		this.window_resize = true;
    	}
    	if(!new_val && old_val){
    		this.count_ads_show = 0;
    	}
		},
		'show_menu':function(new_val,old_val){
    	if(new_val){
    		this.window_resize = true;
    	}
		},
		'tabIndex':function(new_val,old_val){
    	this.window_resize = true;
		},
    $route (to, from){
    	if(dev_mode)console.log(" >> WATCH SHARE_PROJECT route change => ",to,from);
			this.app.reset();
    	this.update_scene();
    }	    
	},
	props:{

	}
}
</script>
<style lang="scss" scoped>
@import "@/assets/scss/_global.scss";
#nav{
	>div{
    width: 350px;
	}
  left: -400px;
  &.visible{
    left: 0;
  }
}
#nav_right{
	>div{
    width: 350px;
	}
  right: -400px;
}
</style>
