<template>
	<div>
  	<div v-if="show_message">
  		<span>{{$t('create_my_own_projects')}}</span>&nbsp;
  		<b-button size="sm" variant="primary" @click="goto_main">{{$t('click_here')}}</b-button><br />
  	</div>
  	<div>{{$t('shared_projects')}}</div>
		<div class="card-container">
	  	<table class="table table-hover">
	  		<thead>
	  			<tr>
	  				<th></th>
	  				<th>{{$t('updated_at')}}</th>
	  				<th>{{$t('link')}}</th>
	  				<th>{{$t('name')}}</th>
	  			</tr>
	  		</thead>
	  		<tbody v-if="list.length>0">
	  			<tr v-for="(item,idx) in list">
	  				<td>{{idx+1}}</td>
	  				<td>{{[ item.updated_at, "YYYY-MM-DD HH:mm:ss" ] | moment('DD/MM/YYYY HH:mm:ss a')}}</td>
	  				<td>
	  					<a v-bind:href="`./#/share/${item.hash_identifier}`" target='_blank' @click='goto(item,$event)'>
	    				
	  						<b-button size="sm" variant="success" v-b-tooltip :title="$t('see_project')">
	    						<font-awesome-icon icon="external-link-square-alt"></font-awesome-icon>
	    					</b-button>
	    			</a>
	  				</td>
	  				<td>{{item.name}}</td>
	  			</tr>
	  		</tbody>
	  		<tbody v-else>
	  			<tr>
	  				<td colspan="4">{{msg}}</td>
	  			</tr>
	  		</tbody>
	  	</table>	
	  </div>
	</div>	
</template>
<script>
import Vue from 'vue'
const jQuery = require('jquery');

import axios from 'axios' 
import VueAxios from 'vue-axios' 

Vue.use(VueAxios, axios)

const server_api = process.env.VUE_APP_SERVER_API;

const dev_mode = process.env.NODE_ENV === 'development';


const url_server = `${server_api}/projects/shared`
const url_test = /test/.test(window.location.toString());
export default{
	data(){	
		return {
			name:"shared projects",
			list:[],
			msg:'',
		};
	},
	mounted(){
		this.getLists();
	},
	methods:{
		goto(item,e){
			e.stopPropagation();
			e.preventDefault();
			if(dev_mode)console.log("event => ",e);
			let url = `${window.location.protocol+'//'+window.location.host+window.location.pathname}#/share/${item.hash_identifier}`;
			if(window.location.href){
				window.location.href = url;
			}else{
				window.location.assign(url);
			}			
/*			window.location.reload();*/
		},
		goto_main(){
			let url = `${window.location.protocol+'//'+window.location.host+window.location.pathname}#`;
			if(window.location.href){
				window.location.href = url;
			}else{
				window.location.assign(url);
			}			
			window.location.reload();
		},
		getLists(){
			let _this = this;
			_this.msg = _this.$i18n.t('wait_please');
			this.axios.post(url_server,{ 
				headers:{  
					'Accept':'application/json', 
					'Content-Type':'application/json',
				},
				params:{ 
				}, 
			}).then(
			function(response){
				if(dev_mode)console.log(response);
				let pass = false;
				if(response && response.data){
					if(Array.isArray(response.data) && response.data.length>0){
						_this.list = response.data;
						pass = true;
					}
				}
				if(!pass){
					_this.msg = _this.$i18n.t('without_registers');
				}else{
					_this.msg = _this.$i18n.t('ready');
				}
			}).catch(function(err){
				if(dev_mode){
					console.log(err);
					console.log(err.response);
					console.log(err.status);
				}
				_this.msg = _this.$i18n.t('error_while_fetching_data');
				if(err && err.response){
					if(err.response.status==401){
						_this.$store.commit('showModalLogin');
					}
				}
			}); 
		},
	},
	watch:{

	},
	props:{
		show_message:{
			type:Boolean,
			default:true,
		}
	}
}
</script>
<style lang="scss">
	
</style>